In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

In [18]:
df=pd.read_csv("Group_13_data_cleaned.csv")
df

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
0,4.5878,1018.7,83.675,3.5758,23.979,1086.2,549.83,134.67,11.898,0.32663,81.952
1,4.2932,1018.3,84.235,3.5709,23.951,1086.1,550.05,134.67,11.892,0.44784,82.377
2,3.9045,1018.4,84.858,3.5828,23.990,1086.5,550.19,135.10,12.042,0.45144,83.776
3,3.7436,1018.3,85.434,3.5808,23.911,1086.5,550.17,135.03,11.990,0.23107,82.505
4,3.7516,1017.8,85.182,3.5781,23.917,1085.9,550.00,134.67,11.910,0.26747,82.028
...,...,...,...,...,...,...,...,...,...,...,...
36728,3.6268,1028.5,93.200,3.1661,19.087,1037.0,541.59,109.08,10.411,10.99300,89.172
36729,4.1674,1028.6,94.036,3.1923,19.016,1037.6,542.28,108.79,10.344,11.14400,88.849
36730,5.4820,1028.5,95.219,3.3128,18.857,1038.0,543.48,107.81,10.462,11.41400,96.147
36731,5.8837,1028.7,94.200,3.9831,23.563,1076.9,550.11,131.41,11.771,3.31340,64.738
36732,6.0392,1028.8,94.547,3.8752,22.524,1067.9,548.23,125.41,11.462,11.98100,109.240

# First taking Nox as target variable and performing Random Forest

In [3]:
# the data for the model
# selecting only NOX as target variable
nox_df = df.copy()
nox_df = nox_df.drop("CO", axis = 1) # drop the target variable CO

In [4]:
nox_df

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,NOX
0,4.5878,1018.7,83.675,3.5758,23.979,1086.2,549.83,134.67,11.898,81.952
1,4.2932,1018.3,84.235,3.5709,23.951,1086.1,550.05,134.67,11.892,82.377
2,3.9045,1018.4,84.858,3.5828,23.990,1086.5,550.19,135.10,12.042,83.776
3,3.7436,1018.3,85.434,3.5808,23.911,1086.5,550.17,135.03,11.990,82.505
4,3.7516,1017.8,85.182,3.5781,23.917,1085.9,550.00,134.67,11.910,82.028
...,...,...,...,...,...,...,...,...,...,...
36728,3.6268,1028.5,93.200,3.1661,19.087,1037.0,541.59,109.08,10.411,89.172
36729,4.1674,1028.6,94.036,3.1923,19.016,1037.6,542.28,108.79,10.344,88.849
36730,5.4820,1028.5,95.219,3.3128,18.857,1038.0,543.48,107.81,10.462,96.147
36731,5.8837,1028.7,94.200,3.9831,23.563,1076.9,550.11,131.41,11.771,64.738
36732,6.0392,1028.8,94.547,3.8752,22.524,1067.9,548.23,125.41,11.462,109.240

In [5]:
# split the data for training and test using sklearn train_test_split function 
from sklearn.model_selection import train_test_split

# split the data 
X = nox_df.iloc[:, :-1]
y = nox_df["NOX"]

In [6]:
# Normalizing the X and y. 
# Feature scaling
from sklearn.preprocessing import Normalizer
X = nox_ds1 = Normalizer().fit_transform(X)

X_train_full, X_test, y_train_full, y_test = train_test_split(X, y,  test_size = 0.2,random_state= 42, shuffle = True)
X_train, X_valid, y_train, y_valid = train_test_split(X_train_full, y_train_full, test_size=0.25, random_state=42)

In [7]:
X_train.shape,X_valid.shape,X_test.shape, y_train.shape

((22039, 9), (7347, 9), (7347, 9), (22039,))

In [8]:
from numpy import mean
from numpy import std

# fitting the model

model = RandomForestRegressor(random_state =0)
model1 = model.fit(X_train, y_train)

In [10]:
from sklearn.metrics import mean_absolute_error,r2_score
from sklearn.metrics import mean_squared_error
from sklearn import metrics 
# make predictions on the validation set
y_pred_valid = model1.predict(X_valid)

# calculate the MAE for the validation set
mae_val = mean_absolute_error(y_valid, y_pred_valid)
# calculate the MSE for the validation set
mse_val = mean_squared_error(y_valid, y_pred_valid)

print("Validation Mean Absolute Error: ", mae_val)
print("Validation Mean Squared Error: ", mse_val)
print(f"RMSE on the validation set: {np.sqrt(mse_val)}")

Validation Mean Absolute Error:  2.8156641717707918
Validation Mean Squared Error:  19.0870270831615
RMSE on the validation set: 4.368870229608738

In [11]:
from sklearn.metrics import r2_score
r_score_v1 = r2_score(y_valid,y_pred_valid)
print(r_score_v1)

0.8576115134812504

# Hyperparamter tuning using RandomizedSearchCV

In [12]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV, cross_val_score,RandomizedSearchCV
X_train, X_test, y_train, y_test = train_test_split(X, y,  test_size = 0.2,random_state= 42, shuffle = True)
# define the hyperparameter grid
rfr = RandomForestRegressor()

random_grid = {"n_estimators": range(10, 201, 10),
               "max_features": ["sqrt", "log2"],
               "max_depth": range(10, 101, 10)
              }

rfr_rs = RandomizedSearchCV(rfr, 
                            param_distributions = random_grid,
                            cv = 5, 
                            n_iter = 100, 
                            scoring = "r2")

rfr_rs.fit(X_train, y_train)

RandomizedSearchCV(cv=5, estimator=RandomForestRegressor(), n_iter=100,
                   param_distributions={'max_depth': range(10, 101, 10),
                                        'max_features': ['sqrt', 'log2'],
                                        'n_estimators': range(10, 201, 10)},
                   scoring='r2')

In [13]:
rfr_rs.best_score_

0.8388218958934417

In [14]:
rfr_rs.best_params_

{'n_estimators': 170, 'max_features': 'sqrt', 'max_depth': 80}

In [15]:
y1_pred = rfr_rs.predict(X_test)
r2_score(y_test, y1_pred)

0.8517224981307223

In [16]:
# make predictions on the test set
y_pred_vh = rfr_rs.predict(X_test)

# calculate the MAE for the test set
mae_val = mean_absolute_error(y_test, y_pred_vh)
# calculate the MSE for the test set
mse_val = mean_squared_error(y_test, y_pred_vh)

print("test Mean Absolute Error: ", mae_val)
print("test Mean Squared Error: ", mse_val)
print(f"RMSE on the test set: {np.sqrt(mse_val)}")

test Mean Absolute Error:  2.8853512654224613
test Mean Squared Error:  19.649114476259495
RMSE on the test set: 4.432732168342623

# CO target variable

In [29]:
# prepare the data for the model
# select the only CO as target variabel
co_df = df.copy()
co_df = co_df.drop("NOX", axis = 1) # drop the target variable CO

In [30]:
co_df

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO
0,4.5878,1018.7,83.675,3.5758,23.979,1086.2,549.83,134.67,11.898,0.32663
1,4.2932,1018.3,84.235,3.5709,23.951,1086.1,550.05,134.67,11.892,0.44784
2,3.9045,1018.4,84.858,3.5828,23.990,1086.5,550.19,135.10,12.042,0.45144
3,3.7436,1018.3,85.434,3.5808,23.911,1086.5,550.17,135.03,11.990,0.23107
4,3.7516,1017.8,85.182,3.5781,23.917,1085.9,550.00,134.67,11.910,0.26747
...,...,...,...,...,...,...,...,...,...,...
36728,3.6268,1028.5,93.200,3.1661,19.087,1037.0,541.59,109.08,10.411,10.99300
36729,4.1674,1028.6,94.036,3.1923,19.016,1037.6,542.28,108.79,10.344,11.14400
36730,5.4820,1028.5,95.219,3.3128,18.857,1038.0,543.48,107.81,10.462,11.41400
36731,5.8837,1028.7,94.200,3.9831,23.563,1076.9,550.11,131.41,11.771,3.31340
36732,6.0392,1028.8,94.547,3.8752,22.524,1067.9,548.23,125.41,11.462,11.98100

In [31]:
# split the data for training and test using sklearn train_test_split function 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Normalizer

# split the data 
X = co_df.iloc[:, :-1]
y = co_df["CO"]

In [32]:
X = co_df1 = Normalizer().fit_transform(X)
# normalize the data 

X_train_full, X_test, y_train_full, y_test = train_test_split(X, y,  test_size = 0.3,random_state= 42, shuffle = True)
X_train, X_valid, y_train, y_valid = train_test_split(X_train_full, y_train_full, test_size=0.25, random_state=42)

In [33]:
from numpy import mean
from numpy import std
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.ensemble import RandomForestRegressor
# fitting the model
model = RandomForestRegressor(random_state =0)
model1 = model.fit(X_train, y_train)

In [34]:
from sklearn.metrics import mean_absolute_error,r2_score
from sklearn.metrics import mean_squared_error
from sklearn import metrics

# make predictions on the validation set
y_pred_valid = model1.predict(X_valid)

# calculate the MAE for the validation set
mae_val = mean_absolute_error(y_valid, y_pred_valid)
# calculate the MSE for the validation set
mse_val = mean_squared_error(y_valid, y_pred_valid)

print("Validation Mean Absolute Error: ", mae_val)
print("Validation Mean Squared Error: ", mse_val)
print(f"RMSE on the validation set: {np.sqrt(mse_val)}")

Validation Mean Absolute Error:  0.5330851917803702
Validation Mean Squared Error:  1.8290935815732774
RMSE on the validation set: 1.352439862460907

In [35]:
from sklearn.metrics import r2_score
r_score_v1 = r2_score(y_valid,y_pred_valid)
print(r_score_v1)

0.6830487293207632

## Hyperparamter tuning using RandomizedSearchCV

In [36]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import GridSearchCV, cross_val_score,RandomizedSearchCV
# define the hyperparameter grid
X_train, X_test, y_train, y_test = train_test_split(X, y,  test_size = 0.2,random_state= 42, shuffle = True)
rfr = RandomForestRegressor()

random_grid = {"n_estimators": range(10, 201, 10),
               "max_features": ["sqrt", "log2"],
               "max_depth": range(10, 101, 10)
              }

rfr_rs = RandomizedSearchCV(rfr, 
                            param_distributions = random_grid,
                            cv = 5, 
                            n_iter = 100, 
                            scoring = "r2")

rfr_rs.fit(X_train, y_train)

RandomizedSearchCV(cv=5, estimator=RandomForestRegressor(), n_iter=100,
                   param_distributions={'max_depth': range(10, 101, 10),
                                        'max_features': ['sqrt', 'log2'],
                                        'n_estimators': range(10, 201, 10)},
                   scoring='r2')

In [37]:
rfr_rs.best_score_

0.737265676531716

In [38]:
rfr_rs.best_params_

{'n_estimators': 160, 'max_features': 'log2', 'max_depth': 50}

In [40]:
from sklearn.metrics import r2_score
y1_pred = rfr_rs.predict(X_test)
r2_score(y_test, y1_pred)

0.7456936668430937