In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

In [31]:
df=pd.read_csv("Group_13_data_cleaned.csv")
df

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
0,4.5878,1018.7,83.675,3.5758,23.979,1086.2,549.83,134.67,11.898,0.32663,81.952
1,4.2932,1018.3,84.235,3.5709,23.951,1086.1,550.05,134.67,11.892,0.44784,82.377
2,3.9045,1018.4,84.858,3.5828,23.990,1086.5,550.19,135.10,12.042,0.45144,83.776
3,3.7436,1018.3,85.434,3.5808,23.911,1086.5,550.17,135.03,11.990,0.23107,82.505
4,3.7516,1017.8,85.182,3.5781,23.917,1085.9,550.00,134.67,11.910,0.26747,82.028
...,...,...,...,...,...,...,...,...,...,...,...
36728,3.6268,1028.5,93.200,3.1661,19.087,1037.0,541.59,109.08,10.411,10.99300,89.172
36729,4.1674,1028.6,94.036,3.1923,19.016,1037.6,542.28,108.79,10.344,11.14400,88.849
36730,5.4820,1028.5,95.219,3.3128,18.857,1038.0,543.48,107.81,10.462,11.41400,96.147
36731,5.8837,1028.7,94.200,3.9831,23.563,1076.9,550.11,131.41,11.771,3.31340,64.738
36732,6.0392,1028.8,94.547,3.8752,22.524,1067.9,548.23,125.41,11.462,11.98100,109.240

# For NOx as target variable

In [11]:
#Support vector machine
#For NOX as target variable 
nox_df = df.copy()
nox_df = nox_df.drop("CO", axis = 1) # drop the target variable CO

In [12]:
nox_df

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,NOX
0,4.5878,1018.7,83.675,3.5758,23.979,1086.2,549.83,134.67,11.898,81.952
1,4.2932,1018.3,84.235,3.5709,23.951,1086.1,550.05,134.67,11.892,82.377
2,3.9045,1018.4,84.858,3.5828,23.990,1086.5,550.19,135.10,12.042,83.776
3,3.7436,1018.3,85.434,3.5808,23.911,1086.5,550.17,135.03,11.990,82.505
4,3.7516,1017.8,85.182,3.5781,23.917,1085.9,550.00,134.67,11.910,82.028
...,...,...,...,...,...,...,...,...,...,...
36728,3.6268,1028.5,93.200,3.1661,19.087,1037.0,541.59,109.08,10.411,89.172
36729,4.1674,1028.6,94.036,3.1923,19.016,1037.6,542.28,108.79,10.344,88.849
36730,5.4820,1028.5,95.219,3.3128,18.857,1038.0,543.48,107.81,10.462,96.147
36731,5.8837,1028.7,94.200,3.9831,23.563,1076.9,550.11,131.41,11.771,64.738
36732,6.0392,1028.8,94.547,3.8752,22.524,1067.9,548.23,125.41,11.462,109.240

In [13]:
# split the data for training and test using sklearn train_test_split function 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Normalizer

# split the data 
X = nox_df.iloc[:, :-1]
y = nox_df["NOX"]

In [6]:
# normalize the X and y. As we removed Outliers in Part1 we are not going to Standardize instead we are performing normalizing 
X = nox_df = Normalizer().fit_transform(X)

In [7]:
X_train_full, X_test, y_train_full, y_test = train_test_split(X, y, test_size=0.2, random_state=42,shuffle= False)

X_train, X_valid, y_train, y_valid = train_test_split(X_train_full, y_train_full, test_size=0.25, random_state=42,shuffle= False)

In [8]:
X_train.shape

(22039, 9)

In [9]:
X_valid.shape

(7347, 9)

In [10]:
X_test.shape

(7347, 9)

# Kernel(Non Linear SVM)

In [11]:
from sklearn.svm import SVR
regressor = SVR(kernel = 'rbf')
regressor.fit(X_train, y_train)

SVR()

In [12]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn import metrics 
y_train_pred = regressor.predict(X_train)
mae = mean_absolute_error(y_train, y_train_pred)
mse = mean_squared_error(y_train, y_train_pred)
rmse = mean_squared_error(y_train, y_train_pred, squared=False)
print("MAE on train set:", round (mae, 3))
print("MSE on train set is:", round(mse, 3))
print(f"RMSE on the train set: {np.sqrt(mse)}")

MAE on train set: 7.876
MSE on train set is: 114.34
RMSE on the train set: 10.692978314151583

In [13]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn import metrics 
y_pred = regressor.predict(X_valid)
mae = mean_absolute_error(y_valid, y_pred)
mse = mean_squared_error(y_valid, y_pred)
rmse = mean_squared_error(y_valid, y_pred, squared=False)
print("MAE on valid set:", round (mae, 3))
print("MSE on valid set is:", round(mse, 3))
print(f"RMSE on the valid set: {np.sqrt(mse)}")

MAE on valid set: 10.087
MSE on valid set is: 143.139
RMSE on the valid set: 11.964091358345728

# Poly kernel

In [14]:
model = SVR(kernel="poly")
model.fit(X_train, y_train)

SVR(kernel='poly')

In [15]:
y_train_pred_poly = model.predict(X_train)
mae = mean_absolute_error(y_train, y_train_pred_poly)
mse = mean_squared_error(y_train, y_train_pred_poly)
rmse = mean_squared_error(y_train, y_train_pred_poly, squared=False)
print("MAE on train set:", round (mae, 3))
print("MSE on train set is:", round(mse, 3))
print(f"RMSE on the train set: {np.sqrt(mse)}")

MAE on train set: 7.325
MSE on train set is: 98.694
RMSE on the train set: 9.934506108645387

In [16]:
y_pred = model.predict(X_valid)
mae = mean_absolute_error(y_valid, y_pred)
mse = mean_squared_error(y_valid, y_pred)
rmse = mean_squared_error(y_valid, y_pred, squared=False)
print("MAE on valid set:", round (mae, 3))
print("MSE on valid set is:", round(mse, 3))
print(f"RMSE on the valid set: {np.sqrt(mse)}")

MAE on valid set: 9.872
MSE on valid set is: 132.63
RMSE on the valid set: 11.516530418851197

# Checking Model hyperparameters

In [17]:
from sklearn.model_selection import cross_val_score
X_train, X_test, y_train, y_test = train_test_split(X, y,  test_size = 0.2,random_state= 42, shuffle = True)
score_valid = cross_val_score(regressor, X_train, y_train, scoring = 'r2', cv=10)

In [18]:
score_valid

array([0.07903234, 0.0771833 , 0.06896878, 0.07221034, 0.06912432,
       0.05487865, 0.07396259, 0.0671921 , 0.07220805, 0.07592668])

In [19]:
print(np.mean(score_valid))

0.07106871500730723

In [20]:
from sklearn.model_selection import GridSearchCV , cross_val_score

In [21]:
param_grid={'C': [100],'gamma': [ 1],'kernel': [ 'rbf']},
grid_search = GridSearchCV(estimator=model,param_grid=param_grid,scoring='accuracy',cv=5,n_jobs=-1)
grid_search = grid_search.fit(X_train,y_train)

C:\Users\12142\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [nan]
  warnings.warn(

In [22]:
y_pred_hyper = grid_search.predict(X_test)

In [23]:
mae = mean_absolute_error(y_test, y_pred_hyper)
mse = mean_squared_error(y_test, y_pred_hyper)
rmse = mean_squared_error(y_test, y_pred_hyper, squared=False)
print("MAE on test set:", round (mae, 3))
print("MSE on test set is:", round(mse, 3))
print(f"RMSE on the test set: {np.sqrt(mse)}")

MAE on test set: 5.973
MSE on test set is: 73.222
RMSE on the test set: 8.557012573102769

In [24]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred_hyper)

0.44744359437249237

In [25]:
# Rbf kernel
y_pred = regressor.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)
print("MAE on test set:", round (mae, 3))
print("MSE on test set is:", round(mse, 3))
print(f"RMSE on the test set: {np.sqrt(mse)}")

MAE on test set: 8.904
MSE on test set is: 126.909
RMSE on the test set: 11.265392174850925

In [26]:
#Poly kernel
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)
print("MAE on test set:", round (mae, 3))
print("MSE on test set is:", round(mse, 3))
print(f"RMSE on the test set: {np.sqrt(mse)}")

MAE on test set: 8.526
MSE on test set is: 114.64
RMSE on the test set: 10.706984761969485

# For CO as target variable

In [32]:
# For CO as target variable 
# prepare the data for the model
# select the only NOX as target variabel
co_df = df.copy()
co_df = co_df.drop("NOX", axis = 1) # drop the target variable NOX

In [33]:
co_df

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO
0,4.5878,1018.7,83.675,3.5758,23.979,1086.2,549.83,134.67,11.898,0.32663
1,4.2932,1018.3,84.235,3.5709,23.951,1086.1,550.05,134.67,11.892,0.44784
2,3.9045,1018.4,84.858,3.5828,23.990,1086.5,550.19,135.10,12.042,0.45144
3,3.7436,1018.3,85.434,3.5808,23.911,1086.5,550.17,135.03,11.990,0.23107
4,3.7516,1017.8,85.182,3.5781,23.917,1085.9,550.00,134.67,11.910,0.26747
...,...,...,...,...,...,...,...,...,...,...
36728,3.6268,1028.5,93.200,3.1661,19.087,1037.0,541.59,109.08,10.411,10.99300
36729,4.1674,1028.6,94.036,3.1923,19.016,1037.6,542.28,108.79,10.344,11.14400
36730,5.4820,1028.5,95.219,3.3128,18.857,1038.0,543.48,107.81,10.462,11.41400
36731,5.8837,1028.7,94.200,3.9831,23.563,1076.9,550.11,131.41,11.771,3.31340
36732,6.0392,1028.8,94.547,3.8752,22.524,1067.9,548.23,125.41,11.462,11.98100

In [29]:
# split the data for training and test using sklearn train_test_split function 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Normalizer

# split the data 
X = co_df.iloc[:, :-1]
y = co_df["CO"]

In [30]:
# normalize the data 
X = co_df = Normalizer().fit_transform(X)

In [31]:
X_train_full, X_test, y_train_full, y_test = train_test_split(X, y, test_size=0.2, random_state=42,shuffle= False)

X_train, X_valid, y_train, y_valid = train_test_split(X_train_full, y_train_full, test_size=0.25, random_state=42,shuffle=False)

In [32]:
from sklearn.svm import SVR
regressor = SVR(kernel = 'rbf')
regressor.fit(X_train, y_train)

SVR()

In [33]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn import metrics 
y_train_pred = regressor.predict(X_train)
mae = mean_absolute_error(y_train, y_train_pred)
mse = mean_squared_error(y_train, y_train_pred)
rmse = mean_squared_error(y_train, y_train_pred, squared=False)
print("MAE on train set:", round (mae, 3))
print("MSE on train set is:", round(mse, 3))
print(f"RMSE on the train set: {np.sqrt(mse)}")

y_pred = regressor.predict(X_valid)
mae = mean_absolute_error(y_valid, y_pred)
mse = mean_squared_error(y_valid, y_pred)
rmse = mean_squared_error(y_valid, y_pred, squared=False)
print("MAE on valid set:", round (mae, 3))
print("MSE on valid set is:", round(mse, 3))
print(f"RMSE on the valid set: {np.sqrt(mse)}")

MAE on train set: 0.905
MSE on train set is: 3.325
RMSE on the train set: 1.8234558203381892
MAE on valid set: 0.773
MSE on valid set is: 2.759
RMSE on the valid set: 1.6611474804346456

In [34]:
model = SVR(kernel="poly")
model.fit(X_train, y_train)

SVR(kernel='poly')

In [35]:
y_train_pred_poly = model.predict(X_train)
mae = mean_absolute_error(y_train, y_train_pred_poly)
mse = mean_squared_error(y_train, y_train_pred_poly)
rmse = mean_squared_error(y_train, y_train_pred_poly, squared=False)
print("MAE on train set:", round (mae, 3))
print("MSE on train set is:", round(mse, 3))
print(f"RMSE on the train set: {np.sqrt(mse)}")

y_pred = model.predict(X_valid)
mae = mean_absolute_error(y_valid, y_pred)
mse = mean_squared_error(y_valid, y_pred)
rmse = mean_squared_error(y_valid, y_pred, squared=False)
print("MAE on valid set:", round (mae, 3))
print("MSE on valid set is:", round(mse, 3))
print(f"RMSE on the valid set: {np.sqrt(mse)}")

MAE on train set: 0.881
MSE on train set is: 3.059
RMSE on the train set: 1.7491395100313678
MAE on valid set: 0.802
MSE on valid set is: 2.64
RMSE on the valid set: 1.6249095504283737

# Model Hyperparameters

In [36]:
from sklearn.model_selection import cross_val_score
X_train, X_test, y_train, y_test = train_test_split(X, y,  test_size = 0.2,random_state= 42, shuffle = True)
score_valid = cross_val_score(regressor, X_train, y_train, scoring = 'r2', cv=10)

In [37]:
score_valid

array([0.43097338, 0.38852413, 0.40258649, 0.38911638, 0.37523125,
       0.418979  , 0.3410746 , 0.29764237, 0.39426569, 0.31997352])

In [38]:
print(np.mean(score_valid))

0.3758366804288669

In [39]:
from sklearn.model_selection import GridSearchCV , cross_val_score

In [40]:
param_grid={'C': [100],'gamma': [10],'kernel': [ 'rbf']},
grid_search = GridSearchCV(estimator=model,param_grid=param_grid,scoring='accuracy',cv=5,n_jobs=-1)
grid_search = grid_search.fit(X_train,y_train)

C:\Users\12142\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [nan]
  warnings.warn(

In [41]:
y_pred_hyper = grid_search.predict(X_test)

In [42]:
mae = mean_absolute_error(y_test, y_pred_hyper)
mse = mean_squared_error(y_test, y_pred_hyper)
rmse = mean_squared_error(y_test, y_pred_hyper, squared=False)
print("MAE on test set:", round (mae, 3))
print("MSE on test set is:", round(mse, 3))
print(f"RMSE on the test set: {np.sqrt(mse)}")

MAE on test set: 0.731
MSE on test set is: 2.474
RMSE on the test set: 1.5728448665946315

In [43]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred_hyper)

0.5450521942041706

In [44]:
# Rbf kernel
y_pred = regressor.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)
print("MAE on test set:", round (mae, 3))
print("MSE on test set is:", round(mse, 3))
print(f"RMSE on the test set: {np.sqrt(mse)}")

MAE on test set: 0.951
MSE on test set is: 3.659
RMSE on the test set: 1.912905952559538

In [45]:
#Poly kernel
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = mean_squared_error(y_test, y_pred, squared=False)
print("MAE on test set:", round (mae, 3))
print("MSE on test set is:", round(mse, 3))
print(f"RMSE on the test set: {np.sqrt(mse)}")

MAE on test set: 0.931
MSE on test set is: 3.379
RMSE on the test set: 1.838230958676243

# Linear SVM

In [46]:
df

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
0,4.5878,1018.7,83.675,3.5758,23.979,1086.2,549.83,134.67,11.898,0.32663,81.952
1,4.2932,1018.3,84.235,3.5709,23.951,1086.1,550.05,134.67,11.892,0.44784,82.377
2,3.9045,1018.4,84.858,3.5828,23.990,1086.5,550.19,135.10,12.042,0.45144,83.776
3,3.7436,1018.3,85.434,3.5808,23.911,1086.5,550.17,135.03,11.990,0.23107,82.505
4,3.7516,1017.8,85.182,3.5781,23.917,1085.9,550.00,134.67,11.910,0.26747,82.028
...,...,...,...,...,...,...,...,...,...,...,...
36728,3.6268,1028.5,93.200,3.1661,19.087,1037.0,541.59,109.08,10.411,10.99300,89.172
36729,4.1674,1028.6,94.036,3.1923,19.016,1037.6,542.28,108.79,10.344,11.14400,88.849
36730,5.4820,1028.5,95.219,3.3128,18.857,1038.0,543.48,107.81,10.462,11.41400,96.147
36731,5.8837,1028.7,94.200,3.9831,23.563,1076.9,550.11,131.41,11.771,3.31340,64.738
36732,6.0392,1028.8,94.547,3.8752,22.524,1067.9,548.23,125.41,11.462,11.98100,109.240

In [47]:
nox_df

array([[0.00287537, 0.63846307, 0.05244272, ..., 0.34460209, 0.08440348,
        0.00745699],
       [0.0026911 , 0.63830015, 0.05280096, ..., 0.34478739, 0.08441509,
        0.00745425],
       [0.00244676, 0.63818101, 0.05317632, ..., 0.34477691, 0.0846605 ,
        0.00754613],
       ...,
       [0.00350102, 0.65684029, 0.06081057, ..., 0.34708757, 0.06885168,
        0.00668144],
       [0.00368636, 0.64451993, 0.05901991, ..., 0.34466497, 0.0823334 ,
        0.00737498],
       [0.00380076, 0.64747277, 0.05950292, ..., 0.34502721, 0.07892648,
        0.00721358]])

In [48]:
#Support vector machine
#For NOX as target variable 
nox_df = df.copy()
nox_df = nox_df.drop("CO", axis = 1) # drop the target variable CO

In [49]:
nox_df

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,NOX
0,4.5878,1018.7,83.675,3.5758,23.979,1086.2,549.83,134.67,11.898,81.952
1,4.2932,1018.3,84.235,3.5709,23.951,1086.1,550.05,134.67,11.892,82.377
2,3.9045,1018.4,84.858,3.5828,23.990,1086.5,550.19,135.10,12.042,83.776
3,3.7436,1018.3,85.434,3.5808,23.911,1086.5,550.17,135.03,11.990,82.505
4,3.7516,1017.8,85.182,3.5781,23.917,1085.9,550.00,134.67,11.910,82.028
...,...,...,...,...,...,...,...,...,...,...
36728,3.6268,1028.5,93.200,3.1661,19.087,1037.0,541.59,109.08,10.411,89.172
36729,4.1674,1028.6,94.036,3.1923,19.016,1037.6,542.28,108.79,10.344,88.849
36730,5.4820,1028.5,95.219,3.3128,18.857,1038.0,543.48,107.81,10.462,96.147
36731,5.8837,1028.7,94.200,3.9831,23.563,1076.9,550.11,131.41,11.771,64.738
36732,6.0392,1028.8,94.547,3.8752,22.524,1067.9,548.23,125.41,11.462,109.240

In [50]:
# split the data for training and test using sklearn train_test_split function 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Normalizer

# split the data 
X = nox_df.iloc[:, :-1]
y = nox_df["NOX"]

In [51]:
# normalize the X and y. As we removed Outliers in Part1 we are not going to Standardize instead we are performing normalizing 
X = nox_df = Normalizer().fit_transform(X)

In [52]:
X_train_full, X_test, y_train_full, y_test = train_test_split(X, y, test_size=0.2, random_state=42, shuffle =False)

X_train, X_valid, y_train, y_valid = train_test_split(X_train_full, y_train_full, test_size=0.25, random_state=42, shuffle=False)

# Performing Linear SVM Model for NOx as Target variable

In [53]:
from sklearn.svm import SVR
regressor = SVR(kernel = 'linear', C=10)
regressor.fit(X_train, y_train)

SVR(C=10, kernel='linear')

In [54]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn import metrics 
y_train_pred = regressor.predict(X_train)
mae = mean_absolute_error(y_train, y_train_pred)
mse = mean_squared_error(y_train, y_train_pred)
rmse = mean_squared_error(y_train, y_train_pred, squared=False)
print("MAE on train set:", round (mae, 3))
print("MSE on train set is:", round(mse, 3))
print(f"RMSE on the train set: {np.sqrt(mse)}")

y_pred = regressor.predict(X_valid)
mae = mean_absolute_error(y_valid, y_pred)
mse = mean_squared_error(y_valid, y_pred)
rmse = mean_squared_error(y_valid, y_pred, squared=False)
print("MAE on valid set:", round (mae, 3))
print("MSE on valid set is:", round(mse, 3))
print(f"RMSE on the valid set: {np.sqrt(mse)}")

MAE on train set: 7.438
MSE on train set is: 101.616
RMSE on the train set: 10.080481312454648
MAE on valid set: 9.93
MSE on valid set is: 134.931
RMSE on the valid set: 11.615971738828925

In [55]:
y_test_pred = regressor.predict(X_test)

mae = mean_absolute_error(y_test, y_test_pred)
mse = mean_squared_error(y_test, y_test_pred)
rmse = mean_squared_error(y_test, y_test_pred, squared=False)
print("MAE on test set:", round (mae, 3))
print("MSE on test set is:", round(mse, 3))
print(f"RMSE on the test set: {np.sqrt(mse)}")

MAE on test set: 10.89
MSE on test set is: 159.307
RMSE on the test set: 12.621668854700836

# Model Hyperparameters

In [56]:
from sklearn.model_selection import cross_val_score
X_train, X_test, y_train, y_test = train_test_split(X, y,  test_size = 0.2,random_state= 42, shuffle = True)
score_valid = cross_val_score(regressor, X_train, y_train, scoring = 'r2', cv=10)

In [57]:
score_valid

array([0.17114358, 0.17198834, 0.15664678, 0.16387687, 0.15805171,
       0.14435097, 0.16465591, 0.15805589, 0.16124459, 0.16927311])

In [58]:
print(np.mean(score_valid))

0.16192877540003348

In [59]:
param_grid={'C': [10],'gamma': [1],'kernel': [ 'linear']},
grid_search = GridSearchCV(estimator=model,param_grid=param_grid,scoring='accuracy',cv=5,n_jobs=-1)
grid_search = grid_search.fit(X_train,y_train)

C:\Users\12142\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [nan]
  warnings.warn(

In [60]:
y_pred_hyper = grid_search.predict(X_test)

In [61]:
mae = mean_absolute_error(y_test, y_pred_hyper)
mse = mean_squared_error(y_test, y_pred_hyper)
rmse = mean_squared_error(y_test, y_pred_hyper, squared=False)
print("MAE on test set:", round (mae, 3))
print("MSE on test set is:", round(mse, 3))
print(f"RMSE on the test set: {np.sqrt(mse)}")

MAE on test set: 7.943
MSE on test set is: 109.351
RMSE on the test set: 10.457079577889035

In [62]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred_hyper)

0.17481162015794072

## EXTREME LEARNING MACHINE

In [7]:
!pip install Scikit-ELM

Requirement already satisfied: Scikit-ELM in c:\users\12142\anaconda3\lib\site-packages (0.21a0)
Requirement already satisfied: numpy in c:\users\12142\anaconda3\lib\site-packages (from Scikit-ELM) (1.21.5)
Requirement already satisfied: scikit-learn in c:\users\12142\anaconda3\lib\site-packages (from Scikit-ELM) (1.0.2)
Requirement already satisfied: scipy in c:\users\12142\anaconda3\lib\site-packages (from Scikit-ELM) (1.9.1)
Requirement already satisfied: joblib>=0.11 in c:\users\12142\anaconda3\lib\site-packages (from scikit-learn->Scikit-ELM) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\12142\anaconda3\lib\site-packages (from scikit-learn->Scikit-ELM) (2.2.0)

In [14]:
# split the data for training and test using sklearn train_test_split function 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Normalizer

#Defining input and output variables
X = nox_df.iloc[:, :-1]
y = nox_df["NOX"]

In [15]:
# Splitting data
X_train, X_test, y_train, y_test = train_test_split(X, y,  test_size = 0.2,random_state= 42, shuffle = True)
X_train.shape ,X_test.shape,y_train.shape, y_test.shape

((29386, 9), (7347, 9), (29386,), (7347,))

In [16]:
# Feature scaling using standard scaler
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [17]:
from skelm import ELMRegressor

In [18]:
ELM_1 = ELMRegressor()

In [19]:
# fitting the data 
ELM_1.fit(X_train, y_train)

ELMRegressor()

In [25]:
# predicting the output values
ELM_y_pred = ELM_1.predict(X_test)

In [26]:
from sklearn.metrics import mean_absolute_error, mean_squared_error,r2_score
rs_ELM_mae1 = mean_absolute_error(y_test, ELM_y_pred)
# calculating mean squared error
rs_ELM_mse1 = mean_squared_error(y_test, ELM_y_pred)
# calculating r2 score
rs_ELM_r_score_1 = r2_score(y_test, ELM_y_pred)

In [28]:
print(f' mae_1: {rs_ELM_mae1}')
print(f' mse_1: {rs_ELM_mse1}')
print(f' r_score_1: {rs_ELM_r_score_1}')

 mae_1: 4.202518460787809
 mse_1: 34.92072827159142
 r_score_1: 0.7364787935953266

## Using Hyperparameters for NOx as Target Variables

In [ ]:
from sklearn.model_selection import GridSearchCV, cross_val_score,RandomizedSearchCV

In [ ]:
# Randomized searchcv to tune the  hyper parameters.
rs_ELM_1 = RandomizedSearchCV(estimator = ELMRegressor(random_state=42),
                  param_distributions= {"n_neurons": [10,20,50,80],
                                "ufunc": ['tanh', 'sigm', 'relu', 'lin'],
                                "alpha" : [1e-07,1e-05,1e-01],
                                },
                  cv=5,
                  n_iter=25,
                  scoring='r2')

In [ ]:
rs_ELM_1.fit(X_train, y_train)

In [ ]:
# best metrics of y
print("The best score of the model is:",rs_ELM_1.best_score_)
print("The best parameters of the model are:", rs_ELM_1.best_params_)

In [ ]:
rs_ELM_y1_pred = rs_ELM_1.predict(X_test)

In [ ]:
rs_ELM_mae1 = mean_absolute_error(y_test,rs_ELM_y1_pred)
# calculating mean squared error
rs_ELM_mse1 = mean_squared_error(y_test,rs_ELM_y1_pred)
# calculating r2 score
rs_ELM_r_score_1 = r2_score(y_test,rs_ELM_y1_pred)

In [ ]:
print(f' mae_1: {rs_ELM_mae1}')
print(f' mse_1: {rs_ELM_mse1}')
print(f' r_score_1: {rs_ELM_r_score_1}')

# Performing Linear SVM model for CO as Target variable

In [63]:
# For CO as target variable 
# prepare the data for the model
# select the only NOX as target variable
co_df = df.copy()
co_df = co_df.drop("NOX", axis = 1) # drop the target variable NOX

In [64]:
co_df

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO
0,4.5878,1018.7,83.675,3.5758,23.979,1086.2,549.83,134.67,11.898,0.32663
1,4.2932,1018.3,84.235,3.5709,23.951,1086.1,550.05,134.67,11.892,0.44784
2,3.9045,1018.4,84.858,3.5828,23.990,1086.5,550.19,135.10,12.042,0.45144
3,3.7436,1018.3,85.434,3.5808,23.911,1086.5,550.17,135.03,11.990,0.23107
4,3.7516,1017.8,85.182,3.5781,23.917,1085.9,550.00,134.67,11.910,0.26747
...,...,...,...,...,...,...,...,...,...,...
36728,3.6268,1028.5,93.200,3.1661,19.087,1037.0,541.59,109.08,10.411,10.99300
36729,4.1674,1028.6,94.036,3.1923,19.016,1037.6,542.28,108.79,10.344,11.14400
36730,5.4820,1028.5,95.219,3.3128,18.857,1038.0,543.48,107.81,10.462,11.41400
36731,5.8837,1028.7,94.200,3.9831,23.563,1076.9,550.11,131.41,11.771,3.31340
36732,6.0392,1028.8,94.547,3.8752,22.524,1067.9,548.23,125.41,11.462,11.98100

In [65]:
# split the data for training and test using sklearn train_test_split function 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Normalizer

# split the data 
X = co_df.iloc[:, :-1]
y = co_df["CO"]

In [66]:
# normalize the data 
X = co_df = Normalizer().fit_transform(X)

In [67]:
X_train_full, X_test, y_train_full, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train, X_valid, y_train, y_valid = train_test_split(X_train_full, y_train_full, test_size=0.25, random_state=42)

In [68]:
from sklearn.svm import SVR
regressor = SVR(kernel = 'linear')
regressor.fit(X_train, y_train)

SVR(kernel='linear')

In [69]:
y_train_pred = regressor.predict(X_train)
mae = mean_absolute_error(y_train, y_train_pred)
mse = mean_squared_error(y_train, y_train_pred)
rmse = mean_squared_error(y_train, y_train_pred, squared=False)
print("MAE on train set:", round (mae, 3))
print("MSE on train set is:", round(mse, 3))
print(f"RMSE on the train set: {np.sqrt(mse)}")

y_pred = regressor.predict(X_valid)
mae = mean_absolute_error(y_valid, y_pred)
mse = mean_squared_error(y_valid, y_pred)
rmse = mean_squared_error(y_valid, y_pred, squared=False)
print("MAE on valid set:", round (mae, 3))
print("MSE on valid set is:", round(mse, 3))
print(f"RMSE on the valid set: {np.sqrt(mse)}")

MAE on train set: 0.979
MSE on train set is: 3.712
RMSE on the train set: 1.926544859037334
MAE on valid set: 0.971
MSE on valid set is: 3.501
RMSE on the valid set: 1.8710639904550126

# Model hyperparameters

In [70]:
from sklearn.model_selection import GridSearchCV , cross_val_score
X_train, X_test, y_train, y_test = train_test_split(X, y,  test_size = 0.2,random_state= 42, shuffle = True)
score_valid = cross_val_score(regressor, X_train, y_train, scoring = 'r2', cv=10)

In [71]:
score_valid

array([0.33819749, 0.30288442, 0.31584116, 0.30181466, 0.29390431,
       0.32540329, 0.26193666, 0.2335808 , 0.30584782, 0.24620395])

In [72]:
print(np.mean(score_valid))

0.2925614566589133

In [73]:
param_grid={'C': [100],'gamma': [ 1],'kernel': ['linear']},
grid_search = GridSearchCV(estimator=model,param_grid=param_grid,scoring='accuracy',cv=5,n_jobs=-1)
grid_search = grid_search.fit(X_train,y_train)

C:\Users\12142\Anaconda3\lib\site-packages\sklearn\model_selection\_search.py:969: UserWarning: One or more of the test scores are non-finite: [nan]
  warnings.warn(

In [74]:
y_pred_hyper = grid_search.predict(X_test)

In [75]:
mae = mean_absolute_error(y_test, y_pred_hyper)
mse = mean_squared_error(y_test, y_pred_hyper)
rmse = mean_squared_error(y_test, y_pred_hyper, squared=False)
print("MAE on test set:", round (mae, 3))
print("MSE on test set is:", round(mse, 3))
print(f"RMSE on the test set: {np.sqrt(mse)}")

MAE on test set: 0.88
MSE on test set is: 3.086
RMSE on the test set: 1.7566534357706647

### ELM For CO as Target Variable

In [34]:
# split the data for training and test using sklearn train_test_split function 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Normalizer


X = co_df.iloc[:, :-1]
y = co_df["CO"]

In [35]:
# split the data 
X_train, X_test, y_train, y_test = train_test_split(X, y,  test_size = 0.3,random_state= 42, shuffle = True)

In [36]:
ELM_2 = ELMRegressor()

In [37]:
# fitting the data 
ELM_2.fit(X_train, y_train)

ELMRegressor()

In [38]:
# predicting the output values
ELM_y2_pred = ELM_2.predict(X_test)

In [39]:
from sklearn.metrics import mean_squared_error,r2_score
ELM_mae2 = mean_absolute_error(y_test,ELM_y2_pred)
# calculating mean squared error
ELM_mse2 = mean_squared_error(y_test,ELM_y2_pred)
# calculating r2 score
ELM_r_score_2 = r2_score(y_test,ELM_y2_pred)

In [40]:
print(f' mae_2: {ELM_mae2}')
print(f' mse_2: {ELM_mse2}')
print(f' r_score_2: {ELM_r_score_2}')

 mae_2: 1.0339424513916213
 mse_2: 3.024960217499189
 r_score_2: 0.3946362136120509

## Using Hyperparameters for CO as Target Variables

In [41]:
from sklearn.model_selection import GridSearchCV, cross_val_score,RandomizedSearchCV

In [42]:
# Randomized searchcv to tune the  hyper parameters.
rs_ELM_2 = RandomizedSearchCV(estimator = ELMRegressor(random_state=42),
                  param_distributions= {"n_neurons": [10,20,50,80],
                                "ufunc": ['tanh', 'sigm', 'relu', 'lin'],
                                "alpha" : [1e-07,1e-05,1e-01],
                                },
                  cv=5,
                  n_iter=25,
                  scoring='r2')

In [43]:
rs_ELM_2.fit(X_train, y_train)

RandomizedSearchCV(cv=5, estimator=ELMRegressor(random_state=42), n_iter=25,
                   param_distributions={'alpha': [1e-07, 1e-05, 0.1],
                                        'n_neurons': [10, 20, 50, 80],
                                        'ufunc': ['tanh', 'sigm', 'relu',
                                                  'lin']},
                   scoring='r2')

In [44]:
# best metrics of y
print("The best score of the model is:",rs_ELM_2.best_score_)
print("The best parameters of the model are:", rs_ELM_2.best_params_)

The best score of the model is: 0.5727558973409004
The best parameters of the model are: {'ufunc': 'relu', 'n_neurons': 80, 'alpha': 0.1}

In [45]:
rs_ELM_y2_pred = rs_ELM_2.predict(X_test)

In [46]:
from sklearn.metrics import mean_squared_error,r2_score
ELM_mae2 = mean_absolute_error(y_test,ELM_y2_pred)
# calculating mean squared error
ELM_mse2 = mean_squared_error(y_test,ELM_y2_pred)
# calculating r2 score
ELM_r_score_2 = r2_score(y_test,ELM_y2_pred)

In [47]:
# calculating mean squared error
rs_ELM_mse2 = mean_squared_error(y_test,rs_ELM_y2_pred)
# calculating r2 score
rs_ELM_r_score_2 = r2_score(y_test,rs_ELM_y2_pred)

In [48]:
print(f' mae_2: {ELM_mae2}')
print(f' mse_2: {rs_ELM_mse2}')
print(f' r_score_2: {rs_ELM_r_score_2}')

 mae_2: 1.0339424513916213
 mse_2: 2.08555666426542
 r_score_2: 0.5826323692778701