In [78]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

In [79]:
df=pd.read_csv("Group_13_data_cleaned.csv")
df

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO,NOX
0,4.5878,1018.7,83.675,3.5758,23.979,1086.2,549.83,134.67,11.898,0.32663,81.952
1,4.2932,1018.3,84.235,3.5709,23.951,1086.1,550.05,134.67,11.892,0.44784,82.377
2,3.9045,1018.4,84.858,3.5828,23.990,1086.5,550.19,135.10,12.042,0.45144,83.776
3,3.7436,1018.3,85.434,3.5808,23.911,1086.5,550.17,135.03,11.990,0.23107,82.505
4,3.7516,1017.8,85.182,3.5781,23.917,1085.9,550.00,134.67,11.910,0.26747,82.028
...,...,...,...,...,...,...,...,...,...,...,...
36728,3.6268,1028.5,93.200,3.1661,19.087,1037.0,541.59,109.08,10.411,10.99300,89.172
36729,4.1674,1028.6,94.036,3.1923,19.016,1037.6,542.28,108.79,10.344,11.14400,88.849
36730,5.4820,1028.5,95.219,3.3128,18.857,1038.0,543.48,107.81,10.462,11.41400,96.147
36731,5.8837,1028.7,94.200,3.9831,23.563,1076.9,550.11,131.41,11.771,3.31340,64.738
36732,6.0392,1028.8,94.547,3.8752,22.524,1067.9,548.23,125.41,11.462,11.98100,109.240

# For Nox as target variable

In [80]:
# select the only NOX as target variable
nox_df = df.copy()
nox_df = nox_df.drop("CO", axis = 1) # drop the target variable CO

In [81]:
nox_df

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,NOX
0,4.5878,1018.7,83.675,3.5758,23.979,1086.2,549.83,134.67,11.898,81.952
1,4.2932,1018.3,84.235,3.5709,23.951,1086.1,550.05,134.67,11.892,82.377
2,3.9045,1018.4,84.858,3.5828,23.990,1086.5,550.19,135.10,12.042,83.776
3,3.7436,1018.3,85.434,3.5808,23.911,1086.5,550.17,135.03,11.990,82.505
4,3.7516,1017.8,85.182,3.5781,23.917,1085.9,550.00,134.67,11.910,82.028
...,...,...,...,...,...,...,...,...,...,...
36728,3.6268,1028.5,93.200,3.1661,19.087,1037.0,541.59,109.08,10.411,89.172
36729,4.1674,1028.6,94.036,3.1923,19.016,1037.6,542.28,108.79,10.344,88.849
36730,5.4820,1028.5,95.219,3.3128,18.857,1038.0,543.48,107.81,10.462,96.147
36731,5.8837,1028.7,94.200,3.9831,23.563,1076.9,550.11,131.41,11.771,64.738
36732,6.0392,1028.8,94.547,3.8752,22.524,1067.9,548.23,125.41,11.462,109.240

In [82]:
# Given data  set
#X = nox_ds[['AT', 'AP', 'AH', 'AFDP', 'GTEP', 'TIT', 'TAT', 'TEY', 'CDP', 'NOX']].to_numpy()
#y = nox_ds[['NOX']].to_numpy()

In [83]:
X = nox_df.iloc[:,:9]
y = nox_df.iloc[:,-1]

In [84]:
# split the given data  set
X_train_full, X_test, y_train_full, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train, X_valid, y_train, y_valid = train_test_split(X_train_full, y_train_full, test_size=0.25, random_state=42)
X_train.shape, X_test.shape, X_valid.shape

((22039, 9), (7347, 9), (7347, 9))

In [13]:
# Sequential Forward Selection(sfs)
#importing the necessary libraries
from mlxtend.feature_selection import SequentialFeatureSelector as SFS
from sklearn.linear_model import LinearRegression

sfs = SFS(LinearRegression(),
           k_features=5,
           forward=True,
           floating=False,
           scoring = 'r2',
           cv = 0)

In [14]:
sfs.fit(X_train, y_train)

SequentialFeatureSelector(cv=0, estimator=LinearRegression(), k_features=(5, 5),
                          scoring='r2')

In [15]:
sfs.k_feature_names_

('AT', 'AH', 'GTEP', 'TIT', 'TAT')

In [16]:
df_SFS_results = pd.DataFrame(sfs.subsets_).transpose()

In [17]:
df_SFS_results

       feature_idx              cv_scores avg_score             feature_names
1             (0,)   [0.3118395275946799]   0.31184                     (AT,)
2           (0, 4)  [0.34325558399417144]  0.343256                (AT, GTEP)
3        (0, 2, 4)  [0.37007752471238353]  0.370078            (AT, AH, GTEP)
4     (0, 2, 4, 6)   [0.3937705311609373]  0.393771       (AT, AH, GTEP, TAT)
5  (0, 2, 4, 5, 6)  [0.46976742320580067]  0.469767  (AT, AH, GTEP, TIT, TAT)

In [56]:
# Sequential Forward Floating Selection(sffs)
sffs = SFS(LinearRegression(),
         k_features=(3,5),
         forward=True,
         floating=True,
         cv=0)
sffs.fit(X_train, y_train)

SequentialFeatureSelector(cv=0, estimator=LinearRegression(), floating=True,
                          k_features=(3, 5), scoring='r2')

In [57]:
sffs.k_feature_names_

('AT', 'AH', 'AFDP', 'GTEP', 'TAT')

In [58]:
X

           AT      AH    AFDP    GTEP     TAT
0      4.5878  83.675  3.5758  23.979  549.83
1      4.2932  84.235  3.5709  23.951  550.05
2      3.9045  84.858  3.5828  23.990  550.19
3      3.7436  85.434  3.5808  23.911  550.17
4      3.7516  85.182  3.5781  23.917  550.00
...       ...     ...     ...     ...     ...
36728  3.6268  93.200  3.1661  19.087  541.59
36729  4.1674  94.036  3.1923  19.016  542.28
36730  5.4820  95.219  3.3128  18.857  543.48
36731  5.8837  94.200  3.9831  23.563  550.11
36732  6.0392  94.547  3.8752  22.524  548.23

[36733 rows x 5 columns]

In [61]:
X.shape, y.shape

((36733, 5), (36733, 1))

In [59]:
# Model for five features

In [62]:
X = nox_df[['AT','AH', 'AFDP','GTEP','TAT' ]]
y = nox_df[['NOX']]

In [63]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [66]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((29386, 5), (29386, 1), (7347, 5), (7347, 1))

# Best model from part 2 using selected variables (Random forest)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
import numpy as np
model = RandomForestRegressor(random_state =0)
model = model.fit(X_train, np.ravel(y_train))

In [38]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn import metrics 

y_pred = model.predict(X_train)
mae = mean_absolute_error(y_train, y_pred)
mse = mean_squared_error(y_train, y_pred)
print("MAE on train set:", round (mae, 3))
print("MSE on train set is:", round(mse, 3))
print(f"RMSE on the train set: {np.sqrt(mse)}")

MAE on train set: 1.224
MSE on train set is: 3.484
RMSE on the train set: 1.8664963169756195

In [42]:
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
print("MAE on test set:", round (mae, 3))
print("MSE on test set is:", round(mse, 3))
print(f"RMSE on the test set: {np.sqrt(mse)}")

MAE on test set: 3.227
MSE on test set is: 23.26
RMSE on the test set: 4.82284200683062

# Best model from part 3 using selected variables (SVM linear)

In [41]:
from sklearn.svm import SVR
regressor = SVR(kernel = 'linear', C=10)
regressor.fit(X_train, np.ravel(y_train))

SVR(C=10, kernel='linear')

In [43]:
y_train_pred = regressor.predict(X_train)
mae = mean_absolute_error(y_train, y_train_pred)
mse = mean_squared_error(y_train, y_train_pred)
rmse = mean_squared_error(y_train, y_train_pred, squared=False)
print("MAE on train set:", round (mae, 3))
print("MSE on train set is:", round(mse, 3))
print(f"RMSE on the train set: {np.sqrt(mse)}")

MAE on train set: 6.891
MSE on train set is: 82.613
RMSE on the train set: 9.089177623672958

In [44]:
y_pred = regressor.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
print("MAE on test set:", round (mae, 3))
print("MSE on test set is:", round(mse, 3))
print(f"RMSE on the test set: {np.sqrt(mse)}")

MAE on test set: 6.945
MSE on test set is: 81.398
RMSE on the test set: 9.022091805874409

# For CO as Target Variable

In [98]:
# For CO as target variable 
# prepare the data for the model
# select the only NOX as target variabel
co_df = df.copy()
co_df = co_df.drop("NOX", axis = 1) # drop the target variable NOX

In [99]:
co_df

,AT,AP,AH,AFDP,GTEP,TIT,TAT,TEY,CDP,CO
0,4.5878,1018.7,83.675,3.5758,23.979,1086.2,549.83,134.67,11.898,0.32663
1,4.2932,1018.3,84.235,3.5709,23.951,1086.1,550.05,134.67,11.892,0.44784
2,3.9045,1018.4,84.858,3.5828,23.990,1086.5,550.19,135.10,12.042,0.45144
3,3.7436,1018.3,85.434,3.5808,23.911,1086.5,550.17,135.03,11.990,0.23107
4,3.7516,1017.8,85.182,3.5781,23.917,1085.9,550.00,134.67,11.910,0.26747
...,...,...,...,...,...,...,...,...,...,...
36728,3.6268,1028.5,93.200,3.1661,19.087,1037.0,541.59,109.08,10.411,10.99300
36729,4.1674,1028.6,94.036,3.1923,19.016,1037.6,542.28,108.79,10.344,11.14400
36730,5.4820,1028.5,95.219,3.3128,18.857,1038.0,543.48,107.81,10.462,11.41400
36731,5.8837,1028.7,94.200,3.9831,23.563,1076.9,550.11,131.41,11.771,3.31340
36732,6.0392,1028.8,94.547,3.8752,22.524,1067.9,548.23,125.41,11.462,11.98100

In [100]:
# split the data for training and test using sklearn train_test_split function 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Normalizer

# split the data 
X = co_df.iloc[:, :-1]
y = co_df["CO"]

In [101]:
X = co_df.iloc[:,:9]
y = co_df.iloc[:,-1]

In [102]:
# split the given data  set
X_train_full, X_test, y_train_full, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train, X_valid, y_train, y_valid = train_test_split(X_train_full, y_train_full, test_size=0.25, random_state=42)
X_train.shape, X_test.shape, X_valid.shape

((22039, 9), (7347, 9), (7347, 9))

In [103]:
# Sequential Forward Floating Selection(sffs)
sffs = SFS(LinearRegression(),
         k_features=(3,5),
         forward=True,
         floating=True,
         cv=0)
sffs.fit(X_train, y_train)

SequentialFeatureSelector(cv=0, estimator=LinearRegression(), floating=True,
                          k_features=(3, 5), scoring='r2')

In [104]:
sffs.k_feature_names_

('AH', 'AFDP', 'TIT', 'TAT', 'TEY')

In [105]:
df_sffs_results = pd.DataFrame(sffs.subsets_).transpose()

In [106]:
df_sffs_results

       feature_idx             cv_scores avg_score              feature_names
1             (5,)  [0.4885856241623133]  0.488586                     (TIT,)
2           (5, 6)  [0.5552123663161064]  0.555212                 (TIT, TAT)
3        (5, 6, 7)  [0.5637128131247356]  0.563713            (TIT, TAT, TEY)
4     (3, 5, 6, 7)  [0.5667622889801679]  0.566762      (AFDP, TIT, TAT, TEY)
5  (2, 3, 5, 6, 7)  [0.5679103789294592]   0.56791  (AH, AFDP, TIT, TAT, TEY)

In [109]:
X = co_df[['AT','AH', 'AFDP','GTEP','TAT' ]]
y = co_df[['CO']]

In [110]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#  Best model from part 2 using selected variables (Random forest)

In [111]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
import numpy as np
model = RandomForestRegressor(random_state =0)
model = model.fit(X_train, np.ravel(y_train))

In [112]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn import metrics 

y_pred = model.predict(X_train)
mae = mean_absolute_error(y_train, y_pred)
mse = mean_squared_error(y_train, y_pred)
print("MAE on train set:", round (mae, 3))
print("MSE on train set is:", round(mse, 3))
print(f"RMSE on the train set: {np.sqrt(mse)}")

MAE on train set: 0.204
MSE on train set is: 0.195
RMSE on the train set: 0.44127856679780314

In [113]:
y_pred = model.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
print("MAE on test set:", round (mae, 3))
print("MSE on test set is:", round(mse, 3))
print(f"RMSE on the test set: {np.sqrt(mse)}")

MAE on test set: 0.555
MSE on test set is: 1.42
RMSE on the test set: 1.191695365217697

# Best model from part 3 using selected variables (SVM linear)

In [114]:
from sklearn.svm import SVR
regressor = SVR(kernel = 'linear', C=10)
regressor.fit(X_train, np.ravel(y_train))

SVR(C=10, kernel='linear')

In [115]:
y_train_pred = regressor.predict(X_train)
mae = mean_absolute_error(y_train, y_train_pred)
mse = mean_squared_error(y_train, y_train_pred)
rmse = mean_squared_error(y_train, y_train_pred, squared=False)
print("MAE on train set:", round (mae, 3))
print("MSE on train set is:", round(mse, 3))
print(f"RMSE on the train set: {np.sqrt(mse)}")

MAE on train set: 0.939
MSE on train set is: 2.688
RMSE on the train set: 1.639506292884983

In [116]:
y_pred = regressor.predict(X_test)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
print("MAE on test set:", round (mae, 3))
print("MSE on test set is:", round(mse, 3))
print(f"RMSE on the test set: {np.sqrt(mse)}")

MAE on test set: 0.961
MSE on test set is: 3.026
RMSE on the test set: 1.7394393892929203